<div class="row">
  <% @artists.each do |artist| %>
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4><%= artist.name %></h4>
      </div>
      <div class="panel-body">
        <%= image_tag artist.image %>
        <div class="row">
          <div class="col-md-7">
            <h4> <%= artist.name %> </h4>
            <div class="col-md-3 right">
              <%= link_to "View", artist, class: "btn btn-default" %>
              <%= link_to "Update", edit_artist_path(artist), class: "btn btn-default" %>
              <%= link_to "Delete", artist_path(artist), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-10">
    <%= link_to "Add a new artist", new_artist_path, class: "btn btn-primary" %>
  </div>
</div>
